{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="theme-color" content="orange" />

<head>
    {% include 'css.html' %}
    {% include 'js.html' %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<style>
    body{
    background-image:url("{% static 'new.png' %}");
    font-size: 14px;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

</style>
<body>

        <div class="row">
            <div class='col-sm-12'>
                {% block content %}
                 {% endblock %}
            </div>
        </div>

</body>

</html>