{% extends 'registration/l_base.html' %} 

{% block content %}
		<div class="col-sm-12">
			<h2 align=center>Welcome to TeamWorks</h4>
		</div>	

		<div class="col-sm-5 col-sm-offset-3">
			<div class="auth-form-body mt-3" id='login'>	
				<form action='/auth/' method="post">
				{% csrf_token %}
					<div>
						<label for="id_username" >Username</label>
						{{ form.username }}

					</div>
					<div>
						<label for="id_password" >Password</label>
						{{ form.password }}

					</div>
					<div id='btn'>
						<input type="submit" class="btn btn-block btn-primary" name="submit" value="submit">
					</div>

				</form>
			</div>
		</div>
		<style>
		#btn{
			margin-top: 10px;
		}	
		#login{
			margin-left: 4cm;
		}
		.form-control{
        border-radius: 1px 1px 1px 1px;
        -moz-border-radius: 1px 1px 15px 15px;
        -webkit-border: 15px 15px 15px 15px;
        /*-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;*/
    }
	.btn{
        border-radius: 1px 1px 1px 1px;
        -moz-border-radius: 1px 1px 15px 15px;
        -webkit-border: 15px 15px 15px 15px;



		</style>
{% endblock %}
