{% extends "admin/base.html" %}
{% block title %}TeamWorks Admin{% endblock %}
{% block extrastyle %}
<style>
#header{
    background-color:orange;
    color:white;
}
#branding h1 a:link, #branding h1 a:visited{
    color: white;
}
.module h2,.module caption,.inline-group h2 {
    background: lightblue !important;
}
</style>
{% endblock %}
{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">TeamWorks administration</a></h1>
{% endblock %}
{% block nav-global %}{% endblock %}