{% extends 'base.html' %} {% block title %} {{ pid.name }} Project | WorkFlow {% endblock %} {% block sidebar %}
<!--<div class="affix-top hidden-print bs-docs-slidebar hidden-xs">-->
<div class="affix-top hidden-print bs-docs-slidebar">
    <h3>Projects</h3>
    <div class="list-group">
        <a class="list-group-item" href="#demo" data-toggle="collapse">Collapse</a>
        <div id="demo" style="cursor:pointer">
            {% if pid == 'home' %}
            <a class="list-group-item active" href="/">All</a> {% else %}
            <a class="list-group-item" href="/">All</a> {% endif %} {% for i in project %} {% if i.id == pid.id or i.id == task.project_id_id %}
            <a class="list-group-item active" href="/project/{{ i.id }}">{{ i.name }}</a> {% else %}
            <a class="list-group-item" href="/project/{{ i.id }}">{{ i.name }}</a> {% endif %} {% endfor %} {% if 'Workflow.add_project' in user.get_all_permissions %}
            <a class="list-group-item" href="/project/create">Create New</a> {% endif %}
        </div>
    </div>

</div>
{% endblock %}
{% block content %} 

{{ form.error }}

{% if work == 'edit' %}
<div>
    <h5><a href='/'> Workflow</a>>><a href="/project/{{task.project_id_id}}">{{task.project_id}}</a> >> <a href="{{task.id }}"> {{ task.name }}</a></h5>
</div>

<table class="table">
    <thead>
        <th>Attribute</th>
        <th>Value</th>
    </thead>
    <tr>
        <td>Name</td>
        <td>{{ task.name }}</td>
    </tr>
    <tr>
        <td>Created Date</td>
        <td>{{ task.created_date }}</td>
    </tr>
    <tr>
        <td>Created By</td>
        <td>{{ task.created_by }}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{ task.status }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ task.task_description }}</td>
    </tr>

    <tr>
        <td>Comment</td>
        <td>{{ task.comments }}</td>
    </tr>
    <tr>
        <td>Modify By</td>
        <td>{{ task.modify_by}}</td>
    </tr>
    <tr>
        <td>Priority</td>
        <td>{{ task.priority }}</td>
    </tr>
    <tr>
        <td>TAT</td>
        <td>{{ task.tat}}</td>
    </tr>
    <tr>
        <td>Assign</td>
        <td>{{ task.assign.get_full_name}}</td>
    </tr>    
</table>
<a href='{{task.id}}/edit/'>
    <input type="button" class="btn-block green btn btn-primary" value="Edit"></a>



{% elif work == 'taskedit' %}
{% for i in form %}
{% if i.errors %}
    <li>{{i}}
{% endif %}
{% endfor %}


<form action='.' method="POST">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>Name</td>
            <td>
                {{ form.name }}
            </td>
        </tr>
        <tr>
             <td>Created Date</td>
            <td>
                {{ form.created_date }}
            </td>
        </tr>
       <tr>
            <td>Created By</td>
            <td>
                {{ form.created_by }}
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {{ form.status }}
            </td>
        </tr>
        <tr>
            <td>Priority</td>
            <td>
                {{ form.priority }}
            </td>
        </tr>


        <tr>
            <td>Task Description</td>
            <td>
                {{ form.task_description }}
            </td>
        </tr>
        <tr>
            <td>Comments</td>
            <td>
                {{ form.comments }}
            </td>
        </tr>        
        <tr>
            <td>TAT</td>
            <td>
                {{ form.tat }}
            </td>
        </tr>
        <tr>
            <td>Assign</td>
            <td>
                {{ form.assign }}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" value='submit' class='btn  btn-block' style="background:orange">
            </td>
        </tr>

</form>
</table>

{% else %}
<div>
    <h5><a href='/'> Workflow</a>>><a href="/project/{{pid.id}}">{{pid.name}}</a></h5>
</div>
<!--<div>
    <h4 align='center'>Create a new Task</h4>
</div>-->
{% if task %}
<!--<h4 align='center'>Create a new Task</h4>-->
<table class="table" id="table">
    <thead>
        <th> Name </th>
        <th> Created Date </th>
        <th> Created By </th>
        <th> Priority </th>
        <th> Status </th>
    </thead>


    {% for i in task %}
    <tr>
        <td><a href="/task/{{ i.id }}">{{ i.name }}</a></td>
        <td>{{ i.created_date }}</td>
        <td>{{ i.created_by }}</td>
        <td>{{ i.priority }}</td>
        <td>{{ i.status }}</td>
    </tr>
    {% endfor %}
</table>

{% elif project_c %}
    {{ form.errors }}

    <form id='prj-form' method="POST">
        {% csrf_token %}
        <table class='table'>
            <tr>
                <td>Name : </td>
<!--                <td><input type='text' name='name' class='form-control'></td>-->
                    <td>{{form.name}}</td>
            </tr>
            <tr>
                <td>Description : </td>
                <td>{{form.description}}</td>
<!--                <td><textarea class='form-control' name='description' cols="30" rows="10"></textarea></td>-->
            </tr> 
            <tr>
                <td>Head : </td>
                <td>{{form.head}}</td>
                <!--<td><input type='text' head='head' class='form-control'></td>-->
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' class='btn btn-block btn-primary' value='Create'/>
            </tr>
        </table>
    </form>


{% else %}
<h3 align=center> There is no task </h3>

{% endif %} {% endif %}
<style>
    th {
        font-size: 1.2em;
    }
    
    table {
        margin-top: 5px;
    }
    
    .affix-top {
        position: fixed;
        width: 19.45%;
    }
    
    @media (max-width: 767px) {
        .affix-top {
            width: auto;
        }
    }
    
    @media (max-width: 770px) {
        .affix-top {
            position: static;
            width: auto;
        }
    }
    
    .form-control {
        border-radius: 1px 1px 1px 1px;
        -moz-border-radius: 1px 1px 15px 15px;
        -webkit-border: 15px 15px 15px 15px;
        /*-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;*/
    }
    
    form-control:focus {
        border-color: snow;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    }
</style>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $(window).on('resize', function() {
        var win = $(this);
        if (win.width() < 770) {
            $('#demo').removeClass('collapse in')
            $('#demo').addClass('collapse')
        } else if (win.width() > 770) {
            $('#demo').removeClass('collapse')
            $('#demo').addClass('collapse in')
        }
    });

    //$(document).click('')

    $(document).ready(function() {
        //$('#cke_id_content').addClass('cke_focus')
        if ($(window).width() < 770) {
            $('#demo').addClass('collapse')
        }

    });

</script>

{% endblock %}