{% load staticfiles %}
{% include 'css.html' %}
{% include 'js.html' %}
    <nav class="nav navbar-inverse navbar-fixed-top navbar-light" style="background-color: orange">
      <div class="container-fluid">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: white" href="/">Workflows</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/" >Dashboard</a></li>
            <li><a href="/email">Email</a></li>
            <li><a href="/reports">Report</a></li>
            {% if user.is_authenticated %}
                <li><a href="/accounts/profile">{{ user.first_name }}</a></li>
            {% else %}
                <li><a href="/accounts/login">Login</a></li>    
            {% endif %}    
          </ul>
          <form class="navbar-form navbar-left" action='/search/{% if project %}project/{%else%}email/{%endif%}'>
            <input class="form-ctr" size=50 id=all_search name="search" placeholder="Search..." style="background-color:#FEAB40;" type="text">
          </form>
        </div>
      </div>
    </nav>

    <nav class="nav navbar-inverse  ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: white" href="#">Workflows</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Email</a></li>
            <li><a href="#">Report</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
<!--          <form class="navbar-form navbar-left">
            <input class="form-control" name='search' id='search' class="search-query" autocomplete="off" placeholder="Search..." type="text">
          
        </form>-->

                    <form class="navbar-search col-sm-5 docs-search" ng-submit="submit()">

                        <span class="glyphicon glyphicon-search search-icon "></span>
                        <input type="text"
                                name="q"
                                class="search-query"
                                placeholder="search"
                                autocomplete="off">

                    </form>        
        </div>
      </div>
    </nav>
<style>
    .navbar-inverse .navbar-nav > li > a{
    color: white;
    }
    .form-ctr{
        
display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid gray;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    outline: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
    .sdfsdf{

    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #555;
    background-color: #fff;
    background-image: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);


    }
</style>