{% extends 'base.html' %} {% block title %} Reports {% endblock %} {% block sidebar %}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>-->

<div class="affix-top hidden-print bs-docs-slidebar">
    <h3>Reports</h3>

    <div class="list-group">
        <a class="list-group-item" href="#demo" data-toggle="collapse">Collapse</a>
        <div id="demo">
            <!--  class="collapse in">-->
            {% if project %}

            <a class="list-group-item active tree-toggler nav-header">Projects</a>
            <ul style="display: none;" class="nav nav-list tree">
                <li><a href="#" style="cursor:pointer">Status</a></li>
                <li><a href="#" style="cursor:pointer">Priority</a></li>
            </ul>

            {% else %}
            <!--
        <label class="list-group-item tree-toggler " onclick="ajaxcl('Project')" style="cursor:pointer">Projects</label>

        <ul style="display: none; margin-left: 50px;" class="tree nav nav-list">
            <li href="#" onclick="ajaxcl('Priority')" style="cursor:pointer" class="list-group-item">Priority</li>
            <li href="#" onclick="ajaxcl('Status')" style="cursor:pointer" class="list-group-item">Status</li>
        </ul>-->
            <a class="list-group-item" onclick="ajaxcl('Project')">Projects</a> {% endif %} {% if emp %}
            <a class="list-group-item active" href="/employee">Employee</a> {% else %}
            <a class="list-group-item" onclick="ajaxcl('Employees')">Employee</a> {% endif %} {% if department %}
            <a class="list-group-item action" href="/department">Department</a> {% else %}
            <a class="list-group-item" onclick="ajaxcl('Department')">Department</a> {% endif %}
        </div>
    </div>
</div>

{% endblock %} {% block content %} {{project}}
<!--
<div class="col-sm-12">
    <div class="col-sm-6">
    <span class="coldata"></span>
    </div>
    <div class="col-sm-5">
    <span class="coldata1" style='margin-right:1cm;float:right'></span>
    </div>

</div>-->
<div class="col-sm-7">
    <span class="coldata"></span>
    <div class="ch1">
        <canvas id="myChart"></canvas>
    </div>
</div>
<div class="col-sm-5">
    <span class="coldata1"></span>
    <div class="ch3">
        <canvas id="myChart3"></canvas>
    </div>
</div>
<div>
    <div class='cont'></div>
</div>

{% endblock %} 

{% block BackboneScript %}
<script type="text/template" id="task-list-template">
    
   <!--<h4 align='center'><a href='#createtask/'>Create a new Task</a></h4> -->
   <br><br>
   <hr/>
    <table class='table'>
        <thead>
                <th> Name </th>
                <th> Created Date </th>
                <th> Created By </th>
                <th> Priority </th>
                <th> Status </th>
        </thead>
        <% _.each(project,function(p) { %>
            <tr>
                <td><a href="#task/<%=p.id %>"><%= p.fields.name %></a></td>
                <td><%= p.fields.created_date %></td>
                <td><%= p.fields.created_by %></td>
                <td><%= p.fields.priority %></td>
                <td><%= p.fields.status %></td>
            </tr>
        <% }); %>
    </table>                
</script>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function ajaxcl(par) {
        //console.log(par)
        if (par == 'Employees') {
            point = '/api/employee/',
                $.ajax({
                    method: 'GET',
                    url: point,
                    dataType: 'text',
                    success: function(data) {
                        sch(data, par)
                    }
                })
        } else if (par == 'Project') {
            point = '/api/project_data/' + par + '/'
            $.ajax({
                method: 'GET',
                url: point,
                dataType: 'text',
                success: function(data) {
                    project = []
                    count = []
                    stat = []
                    option = []
                    var json = $.parseJSON(data)
                    for (var i = 0; i < json.label.length; i++) {
                        project.push(json.label[i].fields.name)
                        count.push(json.count[i])
                        stat.push(json.status[i])
                        option.push(json.option[i])
                    }
                    $('#sub-con').remove()
                    var hh="<h3 id=rtype title="+par+">"+par.toUpperCase()+"<h3>"

//                    $('.coldata').html('<h3 id="rtype" >' + par.toUpperCase() + '<h3>')
                    $('.coldata').html(hh)
                    $('canvas').remove()
                    html = '<canvas id="myChart"></canvas>'
                    html2 = '<canvas id="myChart2"></canvas>'
                    $('.ch1').html(html)
                    $('.ch2').html(html2)
                    showchart(par,'Task');
                }
            })

        } else {
            point = '/api/project_data/' + par + '/',
                $.ajax({
                    method: 'GET',
                    url: point,
                    dataType: 'text',
                    success: function(data) {
                        project = []
                        count = []
                        var json = $.parseJSON(data)
                            //console.log(json.label[0])
                        for (i = 0; i < json.label.length; i++) {
                            project.push(json.label[i].fields.name)
                            count.push(json.count[i])
                        }
                        console.log(project)
                        console.log(count)
                        var hh="<h3 id=rtype title="+par+">"+par.toUpperCase()+"<h3>"
                        //$('.coldata').html('<h3 id="rtype">' + par.toUpperCase() + '<h3>')
                        $('.coldata').html(hh)
                        $('canvas').remove()
                        $('#sub-con').remove()
                        html = '<canvas id="myChart"></canvas>'
                        html2 = '<canvas id="myChart2"></canvas>'
                        $('.ch1').html(html)
                        $('.ch2').html(html2)
                        showchart(par,'Project')
                            //console.log(data)
                    }
                })
        }
    }
    pont = '/api/project_data/Project'
    $.ajax({
        method: 'GET',
        url: pont,
        success: function(data) {
            project = []
            count = []
            stat = []
            option = []
            var json = data
                //var json = $.parseJSON(data)
            for (var i = 0; i < json.label.length; i++) {
                project.push(json.label[i].fields.name)
                count.push(json.count[i])
                stat.push(json.status[i])
                option.push(json.option[i])
            }
            var par='Project'
            var hh="<h3 id=rtype title="+par+">"+par.toUpperCase()+"<h3>"
            //$('.coldata').html('<h3 id="rtype">' + 'project'.toUpperCase() + '<h3>')
            $('.coldata').html(hh)
            $('canvas').remove()
            $('#sub-con').remove()
            html = '<canvas id="myChart"></canvas>'
            html2 = '<canvas id="myChart2"></canvas>'
            $('.ch1').html(html)
            $('.ch2').html(html2)
            showchart('Project','Project');
        },
        error: function(error_data) {
            console.log('errro')
            console.log(error_data)
        }
    });

    function sch(data, par) {
        //console.log(data)
        project = []
        count = []
        var json = $.parseJSON(data)
        for (var i = 0; i < json.label.length; i++) {
            nm = json.label[i].fields
            project.push(nm.first_name)
            count.push(json.count[i])
        }
        //var hh="<h3 id=rtype title="+par//+par.toUpperCase()+"<h3>"
        var hh="<h3 id=rtype title="+par+">"+par.toUpperCase()+"<h3>"
            //var sn=">"+par.toUpperCase()+"</h3>"    
        $('.coldata').html(hh)    
        //$('.coldata').html('<h3 id="rtype">' + par.toUpperCase() + '<h3>')
        $('canvas').remove()
        $('#sub-con').remove()

        html = '<canvas id="myChart"></canvas>'
        html2 = '<canvas id="myChart2"></canvas>'
        $('.ch1').html(html)
        $('.ch2').html(html2)
        showchart(par,'Task');
    }

    function dpt(department) {
        point = '/api/project_data/' + department + '/'
        $.ajax({
            method: 'GET',
            url: point,
            success: function(data) {
                console.log(data)
                console.log(data.count)
                console.log(data.label)
            }
        })
    }
/*    function showcharts(par) {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: project,
                datasets: loop(),
            },
            options: {
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Task'
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: par
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }


    function loop() {
        var d = []
        var min = 1
        var max = 255

        co = ['rgba(255, 99, 132,',
            'rgba(54, 162, 235,',
            'rgba(255, 206, 86,',
            'rgba(120, 190, 80,'
        ]
        for (i = 0; i < option.length; i++) {
            nu = 'rgba(' + randomNumberFromRange(1, 255) + ',' + randomNumberFromRange(1, 255) + ',' + randomNumberFromRange(1, 255) + ','
            d.push({
                label: option[i],
                backgroundColor: co[i] + 0.2 + ')',
                borderColor: co[i] + 1 + ')',
                //backgroundColor:nu+0.5+')',
                //borderColor:nu+1+')',
                //fillColor:'rgba('+getRandomColor()+','+getRandomColor()+','+getRandomColor()+','+0.2+')',
                borderWidth: 1,
                data: stat[i]

            })
        }
        return d
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }


    function randomNumberFromRange(min, max) {
        return Math.floor(Math.random() * (max - min + 1) + min);
    }

    */

    function graphClickEvent(evt, array) {
        var activePoints = myChart.getElementAtEvent(evt);
        var theElement = myChart.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index]

        console.log(activePoints)
            //    var theElement = myChart.config.data.datasets[activePoints[0]._datasetIndex].data;
        var name = activePoints[0]._model.label
            //console.log(name)
            //console.log(theElement)
        console.log(array)
        GetJsonByName(name)
    }
    /*
    $('#myChart').click(function(evt){
        var activePoints = myChart.getElementAtEvent(evt)
        //var theElement = myChart.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index]
        var name = activePoints[0]._model.label
        GetJsonByName(name)
        //console.log(activePoints[0]._model.label)
    })
    */


    function GetJsonByName(par) {
        //console.log(par)
        console.log($('#rtype'))
        if ($('#rtype').attr('title')=='Employees'){
            var api='/api/task_by_emp/' + par
        }
        else if($('#rtype').attr('title')=='Project'){
            var api='/api/single_project/' + par
        }
        else{
            var api='/api/task_by_depatment/' + par
        }
        $.ajax({
            method: 'GET',
            //url: '/api/single_project/' + par,
            url:api,
            success: function(data) {
                //console.log(data)
                //console.log(data.Complete)
                //var json = $.parseJSON(data)
                //var json = $.parseJSON(data)
                //console.log(data)
                sproject=data
                var project = data.option
                var count = []
                for (var i = 0; i < project.length; i++) {
                    count.push(data.label[project[i]].length)
                        //console.log(data.label[op[i]].length)
                    
                    $('#myChart3').remove()
                    html = '<canvas id="myChart3"></canvas>'
                        //html2='<canvas id="myChart2"></canvas>'
                    $('.ch3').html(html)
                        //$('.ch2').html(html2) 
                }
                    //sproject=project
                    //scount=count   
                    singlechart(par, project, count)
                
            }
        })

    }

    function AreaChartClick(e)
    {
        
        var evn=myChartss.getElementAtEvent(e)
        var op=evn[0]._model.label
        console.log(evn[0]._model.label);
        //console.log(sproject.label[op])
        var data = sproject.label[op]
        var template = _.template($('#task-list-template').html())
        //$('.cont').html("htmlsdf")
        console.log(data)
        $('.cont').html(template({'project':data}))
        //console.log(scount)
    }

    

    var myChartss
    function singlechart(par, project, count) {
        $('.coldata1').html('<h3 id="sub-con" align=center>'+par.toUpperCase()+'<h3>')
        console.log(project)
        console.log(count)
        var ctx2 = document.getElementById("myChart3").getContext('2d');
        myChartss = new Chart(ctx2, {
            type: 'polarArea',
            data: {
                labels: project,
                
                datasets: [
                    {
                    label: project,
                    data: count,
                     //data : '[95, 80, 30, 70, 60, 50, 50]',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(120, 190, 80, 0.2)',
                        'rgba(54, 216, 186, 0.2)',
                        'rgba(100, 129, 100, 0.2)',
                        'rgba(200, 109, 180, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(120, 190, 80, 1)',
                        'rgba(200, 216, 186, 1)',
                        'rgba(100, 129, 100, 1)',
                        'rgba(200, 109, 180, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                onClick: AreaChartClick,
                responsive : true,
/*                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }*/
            }
        });
    };

    var myChart

    function showchart(par,vname) {
        var ctx = document.getElementById("myChart").getContext('2d');
        myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: project,
                datasets: [{
                    //                    xAxisID:'emp',
                    //                  yAxisID:'task',
                    label: 'sdf',
                    data: count,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(120, 190, 80, 0.2)',
                        'rgba(54, 216, 186, 0.2)',
                        'rgba(100, 129, 100, 0.2)',
                        'rgba(200, 109, 180, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(120, 190, 80, 1)',
                        'rgba(200, 216, 186, 1)',
                        'rgba(100, 129, 100, 1)',
                        'rgba(200, 109, 180, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                onClick: graphClickEvent,
                scales: {
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: vname
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }],
                    xAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: par
                        },
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


        /*var ctx2 = document.getElementById("myChart2").getContext('2d');
        var myCharts = new Chart(ctx2, {
            type: 'polarArea',
            data: {
                labels: project,
                datasets: [{
                    label: '#sd',
                    data: count,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(120, 190, 80, 0.2)',
                        'rgba(54, 216, 186, 0.2)',
                        'rgba(100, 129, 100, 0.2)',
                        'rgba(200, 109, 180, 0.2)',

                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(120, 190, 80, 1)',
                        'rgba(200, 216, 186, 1)',
                        'rgba(100, 129, 100, 1)',
                        'rgba(200, 109, 180, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                //onClick: graphClickEvent,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });*/


    }
    $(document).ready(function() {
        $('label.tree-toggler').click(function() {
            $(this).parent().children('ul.tree').toggle(300);
        });
    });
    //$(document).click('#myChart',function(e){
    //  console.log(e)
    //var activepoint = myChart.getElementAtEvent(e)
    //var theElement = myChart.config.data.datasets[activePoints[0]._datasetIndex].data[activePoints[0]._index];
    //console.log(activepoint)
    //console.log(theElement)
    //console.log(theChart.config.data.datakeys[activePoints[0]._index]);
    //document.getElementById("lbltheClickedOne").innerText = myChart.config.data.datakeys[activePoints[0]._index];
    //console.log(theChart.config.type);

    //});

    /*var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['abc'],
            datasets: [{
                label: ['red'],
                data: ['sdf','sdf','sd'],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });*/
</script>


{% endblock %}