{% extends 'base.html' %} {% block title %} {{ pid.name }} Project | WorkFlow {% endblock %} {% block sidebar %}
<!--<div class="affix-top hidden-print bs-docs-slidebar hidden-xs">-->
<div class="affix-top hidden-print bs-docs-slidebar">
    <h3>Projects</h3>
    <div class="list-group">
        <a class="list-group-item" href="#demo" data-toggle="collapse">Collapse</a>
        <div id="demo" style="cursor:pointer">
            {% if pid == 'home' %}
                <a class="list-group-item active" href="/">All</a>
             {% else %}
                <a class="list-group-item" href="/">All</a>
            {% endif %} 
            {% for i in project %}            
            {% if i.id == pid.id or i.id == task.project_id_id %}
                <a class="list-group-item active" href="#project/{{ i.id }}">{{ i.name }}</a>
             {% else %}
                <a class="list-group-item" href="#project/{{ i.id }}">{{ i.name }}</a> 
                {% endif %} 
            {% endfor %} 
            {% if 'Workflow.add_project' in user.get_all_permissions %}
                <a class="list-group-item" href="#createproject">Create New</a> 
            {% endif %}
            
        </div>
    </div>

</div>
{% endblock %}

{% block content %}

<div>
    <h5><a href='/'> Workflow</a>>><a href="/project/{{pid.id}}">{{pid.name}}</a></h5>
</div>
<div>
    <div class='cont'></div>
</div>
<!--
{% if task %}
<table class="table" id="table">
    <thead>
        <th> Name </th>
        <th> Created Date </th>
        <th> Created By </th>
        <th> Priority </th>
        <th> Status </th>
    </thead>


    {% for i in task %}
    <tr>
        <td><a href="/task/{{ i.id }}">{{ i.name }}</a></td>
        <td>{{ i.created_date }}</td>
        <td>{{ i.created_by }}</td>
        <td>{{ i.priority }}</td>
        <td>{{ i.status }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3 align=center> There is no task </h3>

{% endif %}-->
<style>

    .borderless tr td{
        border:none ;  
        padding: 3px;              
    }

    th {
        font-size: 1.2em;
    }
    
    table {
        margin-top: 5px;
    }
    
    .affix-top {
        position: fixed;
        width: 19.45%;
    }
    
    @media (max-width: 767px) {
        .affix-top {
            width: auto;
        }
    }
    
    @media (max-width: 770px) {
        .affix-top {
            position: static;
            width: auto;
        }
    }
    
    .form-control {
        border-radius: 1px 1px 1px 1px;
        -moz-border-radius: 1px 1px 15px 15px;
        -webkit-border: 15px 15px 15px 15px;
        /*-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;*/
    }
    
    form-control:focus {
        border-color: snow;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6);
    }
</style>

{% endblock %} {% block script %}
<script type="text/javascript">
    $(window).on('resize', function() {
        var win = $(this);
        if (win.width() < 770) {
            $('#demo').removeClass('collapse in')
            $('#demo').addClass('collapse')
        } else if (win.width() > 770) {
            $('#demo').removeClass('collapse')
            $('#demo').addClass('collapse in')
        }
    });

    //$(document).click('')

    $(document).ready(function() {
        //$('#cke_id_content').addClass('cke_focus')
        if ($(window).width() < 770) {
            $('#demo').addClass('collapse')
        }

    });
</script>
{% endblock %}

{% block BackboneScript %}
<script type="text/template" id="task-list-template">

    {% if 'Workflow.add_task' in user.get_all_permissions %}
<!--        <a class="list-group-item" href="#createproject">Create New</a>-->
    <h4 align='center'><a href='#createtask/'>Create a new Task</a></h4> 
    {% endif %}
 <!--  <h4 align='center'><a href='#createtask/'>Create a new Task</a></h4> -->
    <table class='table'>
        <thead>
                <th> Name </th>
                <th> Created Date </th>
                <th> Created By </th>
                <th> Priority </th>
                <th> Status </th>
        </thead>
        <% _.each(project,function(p) { %>
            <tr>
                <td><a href="#task/<%=p.id %>"><%= p.name %></a></td>
                <td><%= p.created_date %></td>
                <td><%= p.created_by %></td>
                <td><%= p.priority %></td>
                <td><%= p.status %></td>
            </tr>
        <% }); %>
    </table>                
</script>

<script type="text/template" id="task-all-list-template">
    <!--<h4 align='center'>Create a new Task</h4>-->  
    <table class='table'>
        <thead>
                <th> Name </th>
                <th> Created Date </th>
                <th> Created By </th>
                <th> Priority </th>
                <th> Status </th>
        </thead>
        <% _.each(task,function(p) { %>
            <tr>
                <td><a href="#task/<%=p.attributes.id %>"><%= p.attributes.name %></a></td>
                <td><%= p.attributes.created_date %></td>
                <td><%= p.attributes.created_by %></td>
                <td><%= p.attributes.priority %></td>
                <td><%= p.attributes.status %></td>
            </tr>
        <% }); %>
    </table>                
</script>

<script type="text/template" id='project-form'>    
    <form id='prj-form'>
        {% csrf_token %}
        <h3 align=center>Create New Project</h3>
        <table class='table'>
            <tr>
                <td>Name : </td>
                <td><input type='text' name='name' class='form-control'></td>
            </tr>
            <tr>
                <td>Description : </td>
                <td><textarea class='form-control' name='description' cols="30" rows="10"></textarea></td>
            </tr> 
            <tr>
                <td>Head : </td>
                <td><!--<input type='text' head='head' class='form-control'>-->{{pform.head}}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type='submit' class='btn btn-block btn-primary' value='Create'/>
            </tr>
        </table>
    </form>
</script>

<script type='text/template' id='task-show'>
    <table class="table">
            <thead>
                <th>Attribute</th>
                <th>Value</th>
            </thead>
            <tr>
                <td>Name</td>
                <td><%=task.name%></td>
            </tr>
            <tr>
                <td>Created Date</td>
                <td><%=task.created_date%></td>
            </tr>
            <tr>
                <td>Created By</td>
                <td><%=task.created_by%></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><%=task.status%></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><%=task.task_description%></td>
            </tr>
        
            <tr>
                <td>Comment</td>
                <td><%=task.comments%></td>
            </tr>
            <tr>
                <td>Modify By</td>
                <td><%=task.modify_by%></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td><%=task.priority%></td>
            </tr>
            <tr>
                <td>TAT</td>
                <td><%=task.tat%></td>
            </tr>
            <tr>
                <td>Assign</td>
                <td><%=task.assign_name%></td>
            </tr>            
            <tr>
                <td colspan=2><a href='#task/edit/<%=task.id%>'><input type=button class='btn btn-primary btn-block' value='Edit'/></a></td>
                
        </table>
</script>

<script type='text/template' id='creation-task'>
<form method='POST' class='task-creation'>   
    {% csrf_token %}  
    <table class="table">
        <thead>
            <th>Attribute</th>
            <th>Value</th>
        </thead>
        <tr>
            <td>Name</td>
            <td>{{taskform.name}}</td>
        </tr>
        <tr>
            <td>Created Date</td>
            <td>{{taskform.created_date}}</td>
        </tr>
        <tr>
            <td>Created By</td>
            <td><input type=text id={{user.id}} name='created_by' value="{{user.get_full_name}}" class='form-control' disabled=true></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{taskform.status}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{taskform.task_description}}</td>
        </tr>
    
        <tr>
            <td>Comment</td>
            <td>{{taskform.comments}}</td>
        </tr>
<!--        <tr>
            <td>Modify By</td>
            <td>{{taskform.modify_by}}</td>
        </tr>-->
        <tr>
            <td>Priority</td>
            <td>{{taskform.priority}}</td>
        </tr>
        <tr>
            <td>TAT</td>
            <td>{{taskform.tat}}</td>
        </tr>
        <tr>
            <td>Assign</td>
            <td>{{taskform.assign}}</td>
        </tr>        
        <tr>
            <td colspan=2><input type=submit class='btn btn-primary btn-block' value='Create'/></td>
            
    </table>    
    </form>        
</script>

<script type='text/template' id='task-edit'>
    <form class='task-edit-form' id='<%=task.id%>'>
            {% csrf_token %}
        <table class='table borderless'>
            <tr>
                <td>Name</td>
                <td><input type='text'  class='form-control' name='name' value='<%=task.name%>'/></td>
            </tr>
            <tr>
                <td>Status</td>
                <td><input type='text'  class='form-control' name='status'  value='<%=task.status%>'/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type='text'  class='form-control' name='task_description'  value='<%=task.task_description%>'/></td>
            </tr>
        
            <tr>
                <td>Comment</td>
                <td><input type='text'  class='form-control' name='comments'  value='<%=task.comments%>'/></td>
            </tr>
            <tr>
                <td>Priority</td>
                <td><input type='text'  class='form-control' name='priority'  value='<%=task.priority%>'/></td>
            </tr>
            <tr>
                <td>TAT</td>
                <td><input type='text'  class='form-control' name='tat'  value='<%=task.tat%>'/></td>
            </tr>
            <tr>
                <td>Assign</td>
                
                <td>{{taskform.assign}}</td>
                <!--<td><input type='text'  class='form-control' name='assign_name'  value='<%=task.assign_name%>'/></td>-->

            </tr>
            <tr>
                <td colspan=2><input type=submit class='btn btn-primary btn-block' value='Update'/></a></td>
        </table>
    </form>
    <script type='text/javascript'>
        var $inputProduct = $("select[id='id_assign']")
        
        //document.getElementById("id_assign").append()
//        $(inputProduct).each(function(i, v){ 
            //$inputProduct.append($("<option>", { value: v, html: v }));
  //              console.log(i)
   //             console.log(v)
        //});
        
        //$('#id_assign')    
    </script>


</script>



<script>
    $.fn.serializeObject = function() {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function() {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
        };


        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
    
          options.url = 'http://localhost:8000/api' + options.url;
    
        });
    
        var Projects=Backbone.Collection.extend({
            url:'/project/'
        })

        var Tasks=Backbone.Collection.extend({
            url:'/task/'
        })

        var Task = Backbone.Model.extend({
            urlRoot:'/task/'
        })

        var Project = Backbone.Model.extend({
            urlRoot:'/project'
        })

        var ProjectView = Backbone.View.extend({
            el:'.cont',
            events:{
                'submit .task-edit-form':'updateTask',
                'submit #prj-form':'newproject',
                'submit .task-creation':'createtask',
            },
            updateTask:function(ev){
//                var taskDetail = $(ev.currentTarget).serializeObject();
                ev.preventDefault()
                id = $('.task-edit-form').attr('id')
                var api = '/task/'+$('.task-edit-form').attr('id')+'/'
                var task = new Task({id:id})
                this.form = $(ev.currentTarget);
                dt={}
                csrftoken =  $('input[name=csrfmiddlewaretoken]').val()

                $('input',this.form).each(function(){
                    var val=$(this).val()
                    var key=$(this).attr('name')
                    dt[key]=val
                    })
                dt['assign']='http://localhost:8000/api/user/'+($('#id_assign :selected').attr('value')).toString()+'/'
                //dt['assign_id']=($('#id_assign :selected').attr('value')).toString();  
                $.ajax({
                    type:'PUT',
                    url:api,
                    data : JSON.stringify(dt),
                    beforeSend:function(xhr,settings){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    },
                    crossDomain:false,
                    contentType: "application/json; charset=utf-8",
                    success: function(d)
                     { 
                        var t='task/'+id
                        router.navigate(t, {trigger:true});
                         //console.log("Success!"); 
                    
                     },

                })
                //console.log(url)
            },

            createtask:function(ev)
            {
                ev.preventDefault()
                console.log(project_id)
                var api = '/task/'
                var task = new Task()
                this.form = $(ev.currentTarget)
                csrftoken =  $('input[name=csrfmiddlewaretoken]').val()
                dt={}
/*                $('input',this.form).each(function(){
                    var val=$(this).val()
                    var key=$(this).attr('name')
                    dt[key]=val
                    })*/
                //dt['name']=
                dt['name']=this.form.context.elements.name.value
                dt['status']=this.form.context.elements.status.value
                dt['task_description']=this.form.context.elements.task_description.value
                dt['comments']=this.form.context.elements.comments.value
                dt['priority']=this.form.context.elements.priority.value
                dt['tat']=this.form.context.elements.tat.value
                dt['assign']='http://localhost:8000/api/user/'+this.form.context.elements.assign.value+'/'  
                dt['id_created_date']=this.form.context.elements.created_date.value
                dt['created_by']=this.form.context.elements.created_by.value 
                dt['project_id']=project_id
                console.log(dt) 

                $.ajax({
                    type:'POST',
                    url:api,
                    /*data:{
                        name:$('input[name=name]').val(),
                        task_description:$('textarea[name=description]').val(),
                        head:$('input[name=head]').val()
                    },*/
                    data:JSON.stringify(dt),
                    beforeSend:function(xhr,settings){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    },
                    crossDomain:false,
                    contentType: "application/json; charset=utf-8",
                    success: function(d)
                     { 
                        //var t='task/'+id
                        console.log('succ')
                        router.navigate('', {trigger:true});
                         //console.log("Success!"); 
                    
                     },                    
                })

                //console.log(this.form.context.elements.comments.value)
                //console.log(this.form.context.elements.assign.value)                
                
                
                //console.log('here')
            },            
            newproject:function(e){
                console.log('click')
                var api = '/project/'
                var project = new Project()
                var form = $(e.currentTarget)
                console.log(form)
                e.preventDefault()
                csrftoken =  $('input[name=csrfmiddlewaretoken]').val()
                console.log($('input[name=name]').val())
                var dt={
                        'name':$('input[name=name]').val(),
                        'description':$('textarea[name=description]').val(),
                        'head':'http://localhost:8000/api/department/'+form.context.elements.head.value+'/'
                    }
                $.ajax({
                    type:'POST',
                    url:api,
                    /*data:{
                        name:$('input[name=name]').val(),
                        task_description:$('textarea[name=description]').val(),
                        head:$('input[name=head]').val()
                    },*/
                    data:JSON.stringify(dt),
                    beforeSend:function(xhr,settings){
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    },
                    crossDomain:false,
                    contentType: "application/json; charset=utf-8",
                    success: function(d)
                     { 
                        //var t='task/'+id
                        router.navigate('', {trigger:true});
                         //console.log("Success!"); 
                    
                     },                    
                })
                
            },
            render:function(option){
                var that = this;
                if(option.id){
                    project_id=option.id;
                    that.project = new Project({id:option.id})
                    that.project.fetch({
                        success : function(e) {
                            //console.log(e)
                        var data = e.attributes.task_set
                        var template = _.template($('#task-list-template').html())
                        console.log(e)
                        $('.cont').html(template({'project':data}))
                            
                        }
                    })    
                }
            },
            CreateProject:function(e){
                var template = _.template($('#project-form').html())
                $('.cont').html(template())
            },

            CreateTask:function(e){
                var template = _.template($('#creation-task').html())
                $('.cont').html(template())
            },    

            home:function(){
                var task = new Tasks();
                task.fetch({
                    success : function (e) {
                        var data = e.models
                        var template = _.template($('#task-all-list-template').html())
                        $('.cont').html(template({'task':data}))
                    }
                })

            },
            task:function(option){
                var that = this;
                if(option.id){
                    var task = new Task({id:option.id})
                    task.fetch({
                        success : function(e){
                            var data = e.attributes    
                            //console.log(data)
                            var template = _.template($('#task-show').html())
                            $('.cont').html(template({'task':data}))
                            
                        }
                    })
                }
            },
            taskedit:function(option){
                var that = this;
                if(option.id){
                    var task = new Task({id:option.id})
                    task.fetch({
                        success : function(e){
                            var data = e.attributes    
                            //console.log(data)
                            var template = _.template($('#task-edit').html())
                            $('.cont').html(template({'task':data}))
                            
                        }                        
                    })
                }
            }

        })


        var pview = new ProjectView()
        var Router = Backbone.Router.extend({
            routes:{
                '':'home',
                'project/:id':'project',
                'task/:id':'task',
                'task/edit/:id':'taskedit',
                'task/update/:id':'taskupdate',
                'createproject':'createproject',
                'createtask/':'createtask'
            }
        });
        var router = new Router()

        router.on('route:createtask',function(){
            console.log('create')
            pview.CreateTask()
        });
        router.on('route:createproject',function(){
            console.log('here')
            pview.CreateProject()
            
        });
        router.on('route:home',function(){
            //console.log('here')
            pview.home()
            //pview.render()
        });

        router.on('route:project',function(id){
            //console.log(id)
            pview.render({id:id});
        });

        router.on('route:taskedit',function(id){
            //console.log(id)
            pview.taskedit({id:id})
        })

/*        router.on('taskupdate',function(id){
            pview.taskupdate({id:id})
        })*/
        router.on('route:task',function(id){
            pview.task({id:id})
        });
        Backbone.history.start();
    </script>

{% endblock %}